.normal-button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 8px;
    -fx-font-size: 30px;
    -fx-padding: 12px 14px;
    -fx-cursor: hand;
}

.normal-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.normal-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.add-tarea-button {
    -fx-background-radius: 8px;
-fx-font: normal bold 60px "Western";
}

.urgent-button {
-fx-background-color: #ffed63;
-fx-text-fill:red;
}

.add-tarea-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.tool-bar-button {
-fx-font: normal bold 12px "Western";
-fx-background-color: white;
}

.tool-bar-button:pressed {

-fx-background-color: green;
}
