.border-pane-main-container {
    -fx-background-color: black;

}
ToolBar {
    -fx-background-color: black;
}

.title {
-fx-font: normal bold 30px "Western";
    -fx-text-fill: white;
    -fx-alignment:center
}



.table-view {
    -fx-background-color: black;
    -fx-table-cell-border-color: gray;
}

.table-row-cell {
    -fx-background-color: #222222;
}

.table-cell {
    -fx-text-fill: white;
}

.white-text-big {
    -fx-text-fill: white;
    -fx-font: normal bold 30px "Western";
}

.medium-size-choicebox {
    -fx-font: normal bold 20px "Western";
}
.container-white-background {
     -fx-background-color: white;
}
.medium-size-text-black-bold {
    -fx-font: normal bold 20px "Western";
    -fx-text-fill: black;
}


.table-cell {
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */
    -fx-background-color: white;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: -fx-text-background-color;
}


.table-row-cell {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
    -fx-text-fill: -fx-text-background-color;
}
.table-row-cell:odd {
    -fx-background: -fx-control-inner-background-alt;
}


.white-text-small {
    -fx-text-fill: white;
    -fx-font: normal bold 14px "Western";
}


